In [1]:
# the dataset path
# https://www.kaggle.com/muhammedfathi/game-of-thrones-book-files

In [39]:
import pandas as pd
import numpy as np

In [40]:
text1 = pd.read_csv("archive/got1.txt" , sep="\n")
text2 = pd.read_csv("archive/got2.txt" , sep="\n")

In [41]:
# since i have low ram i will be using only the s1 and s2 text
text1.head()

  This edition contains the complete text of the original hardcover edition.
0                     NOT ONE WORD HAS BEEN OMITTED.
1                                   A CLASH OF KINGS
2                              A Bantam Spectra Book
3                                 PUBLISHING HISTORY
4  Bantam Spectra hardcover edition published Feb...

In [42]:
text1["text"] = text1["This edition contains the complete text of the original hardcover edition."]
text1.drop("This edition contains the complete text of the original hardcover edition.", inplace=True, axis=1)
text1

                                                   text
0                        NOT ONE WORD HAS BEEN OMITTED.
1                                      A CLASH OF KINGS
2                                 A Bantam Spectra Book
3                                    PUBLISHING HISTORY
4     Bantam Spectra hardcover edition published Feb...
...                                                 ...
8453                                    ACKNOWLEDGMENTS
8454                         More details, more devils.
8455  This time around, the angels who helped me put...
8456  Thanks as well to my patient editors and publi...
8457  And finally, a tip o’ the tilting helm to Parr...

[8458 rows x 1 columns]

In [43]:
text2["text"] = text2["A STORM OF SWORDS"]
text2.drop("A STORM OF SWORDS", inplace=True, axis=1)
text2

                                                    text
0                                  A Bantam Spectra Book
1                                     PUBLISHING HISTORY
2      Bantam Spectra hardcover edition published Nov...
3      Bantam Spectra trade paperback edition publish...
4        Bantam Spectra mass market edition / March 2003
...                                                  ...
10622                                    ACKNOWLEDGMENTS
10623   If bricks aren’t well made, the wall falls down.
10624  This is an awfully big wall I’m building here,...
10625  Thanks and appreciation, once more, to those g...
10626                            And as ever, to Parris.

[10627 rows x 1 columns]

In [44]:
import string

In [45]:
# since the text begins after prologue we will cut it there
text1[text1["text"]=="PROLOGUE"]

         text
23   PROLOGUE
112  PROLOGUE

In [46]:
text1 = text1.iloc[113:]
text1.head()

                                                  text
113  The comet’s tail spread across the dawn, a red...
114  The maester stood on the windswept balcony out...
115  The maester did not believe in omens. And yet ...
116  Such folly. He leaned against the battlement, ...
117  And yet . . . and yet . . . the comet burned e...

In [47]:
text2[text2["text"]=="PROLOGUE"]

         text
25   PROLOGUE
132  PROLOGUE

In [48]:
text2 = text2.iloc[133:]
text2.head()

                                                  text
133  The day was grey and bitter cold, and the dogs...
134  The big black bitch had taken one sniff at the...
135  “Seven hells.” He gave the leashes a hard yank...
136  Lark the Sisterman stood with his arms crossed...
137  “We can’t go back emptyhand, Lark,” rumbled Sm...

In [49]:
text1.reset_index(drop=True,inplace=True)
text1.head()

                                                text
0  The comet’s tail spread across the dawn, a red...
1  The maester stood on the windswept balcony out...
2  The maester did not believe in omens. And yet ...
3  Such folly. He leaned against the battlement, ...
4  And yet . . . and yet . . . the comet burned e...

In [50]:
text2.reset_index(drop=True,inplace=True)
text2.head()

                                                text
0  The day was grey and bitter cold, and the dogs...
1  The big black bitch had taken one sniff at the...
2  “Seven hells.” He gave the leashes a hard yank...
3  Lark the Sisterman stood with his arms crossed...
4  “We can’t go back emptyhand, Lark,” rumbled Sm...

In [51]:
text = pd.concat([text1,text2])
text.shape

(18839, 1)

In [52]:
# here we have all our text in str format
text = list(text["text"])
text_string = ' '.join(text)

In [53]:
# the text still need a loooot of cleaning
def clean_text(document):
    words = document.split()
    #first we remouve the ponctuation
    translator = str.maketrans('', '', string.punctuation)
    words = [w.translate(translator) for w in words]
    #leave only the alphabetic words and turn them into lower case
    words = [w.lower() for w in words if w.isalpha()]
    return words

In [54]:
# an example of translator
s = "hello i'm fayçal.,;,"
translator = str.maketrans('', '', string.punctuation)
print(s.translate(translator))

hello im fayçal

In [55]:
t= 'hello1'
print(t.isalpha())

False

In [56]:
words = clean_text(text_string)
words[:15]
# our text is cleaned and we have all the words insidde of words variable

['the',
 'tail',
 'spread',
 'across',
 'the',
 'dawn',
 'a',
 'red',
 'slash',
 'that',
 'bled',
 'above',
 'the',
 'crags',
 'of']

In [57]:
print(f"the total number of words in the text is {len(words)}")
print(f"the vocabulary size is {len(set(words))}")

the total number of words in the text is 692434
the vocabulary size is 17444

In [58]:
# lets create a data set now
# our x label will contain 20 wors and y will contain the next word and after that we will mouve with 1 word
length = 20 + 1
lines = []
for i in range(length,len(words)):
    sentence = words[i-length : i]
    line = ' '.join(sentence)
    lines.append(line)

In [59]:
lines[0]

'the tail spread across the dawn a red slash that bled above the crags of dragonstone like a wound in the'

In [60]:
len(lines)

692413

<h1>buils x and y</h1>

In [61]:
from tensorflow.keras.preprocessing.text import Tokenizer

In [62]:
# we will tokenize our text into a number
tokenizer = Tokenizer(oov_token='<unknown>')
tokenizer.fit_on_texts(lines)

In [63]:
len(tokenizer.word_index)

17445

In [64]:
tokens = tokenizer.texts_to_sequences(lines)
print(tokens[:10])

[[2, 1179, 1013, 181, 2, 807, 4, 112, 3273, 17, 4463, 336, 2, 17445, 6, 765, 67, 4, 1045, 10, 2], [1179, 1013, 181, 2, 807, 4, 112, 3273, 17, 4463, 336, 2, 17445, 6, 765, 67, 4, 1045, 10, 2, 864], [1013, 181, 2, 807, 4, 112, 3273, 17, 4463, 336, 2, 17445, 6, 765, 67, 4, 1045, 10, 2, 864, 3], [181, 2, 807, 4, 112, 3273, 17, 4463, 336, 2, 17445, 6, 765, 67, 4, 1045, 10, 2, 864, 3, 1208], [2, 807, 4, 112, 3273, 17, 4463, 336, 2, 17445, 6, 765, 67, 4, 1045, 10, 2, 864, 3, 1208, 509], [807, 4, 112, 3273, 17, 4463, 336, 2, 17445, 6, 765, 67, 4, 1045, 10, 2, 864, 3, 1208, 509, 2], [4, 112, 3273, 17, 4463, 336, 2, 17445, 6, 765, 67, 4, 1045, 10, 2, 864, 3, 1208, 509, 2, 190], [112, 3273, 17, 4463, 336, 2, 17445, 6, 765, 67, 4, 1045, 10, 2, 864, 3, 1208, 509, 2, 190, 218], [3273, 17, 4463, 336, 2, 17445, 6, 765, 67, 4, 1045, 10, 2, 864, 3, 1208, 509, 2, 190, 218, 24], [17, 4463, 336, 2, 17445, 6, 765, 67, 4, 1045, 10, 2, 864, 3, 1208, 509, 2, 190, 218, 24, 2]]

In [65]:
# create x and y
x, y = [], []
for i in range(len(tokens)):
    x.append(tokens[i][:-1])
    y.append(tokens[i][-1])

In [66]:
x = np.array(x)
y = np.array(y)
x.shape,y.shape

((692413, 20), (692413,))

In [67]:
# now lets build our model
vocab_size = len(tokenizer.word_index) + 1
sequence_length = x.shape[1]
embedding_vector_size = 50

In [68]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Bidirectional, LSTM, Embedding, Dropout
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [69]:
model = Sequential()

In [70]:
model.add(Embedding(vocab_size,embedding_vector_size, input_length=sequence_length))
model.add(Bidirectional(LSTM(100, return_sequences=True)))
model.add(Dropout(0.2))
model.add(Bidirectional(LSTM(100)))
model.add(Dropout(0.2))
model.add(Dense(100, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(vocab_size,activation='softmax'))

In [71]:
model.compile(optimizer='adam',loss="sparse_categorical_crossentropy", metrics=['accuracy'])

In [ ]:
model.fit(x, y, epochs=200, batch_size=64)

In [72]:
from tensorflow.keras.models import load_model
model = load_model("model.h5")

In [73]:
model.load_weights("model.weights.h5")

In [82]:
y_predicted = model.predict(x)

KeyboardInterrupt:

In [81]:
tokenizer.sequences_to_texts()

20